/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/* Css styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; 
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}
h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}
/* Navbar */
#navbar {
  display: flex;
  justify-content: flex-end;
  background-color: var(--main-red);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  z-index: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  padding-right: 2rem;
}

.nav-list a {
  display: block;
  text-decoration: none;
  line-height: 6rem;
  color: var(--main-white);
  padding: 0 2rem;
}

.nav-list a:hover {
  background: var(--main-blue);
}

/* Welcome section */
#welcome-section {
  background: var(--main-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
#welcome-section p {
  font-size: 3rem;
  font-weight: 200;
  color: var(--main-red);
  font-style: italic;
}

/* Projects */
#projects {
  padding: 10rem 2rem;
  background: var(--main-blue);
  width: 100%;
  align-items: center;
  text-align: center;
}
.projects-section-header {
  max-width: 650px;
  color: var(--main-white);
  text-align: center;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white)
}
.projects-grid {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 4rem;
}
#projects .projects-grid:nth-child(3) {
  margin-top: 4rem;
}
.project-item {
  width: 100%;
  margin: 0 2rem;
}
.projects-grid a {
  text-decoration: none;
}
.project-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}
.projects-grid img {
  width: 100%;
  height: 38rem;
  bottom: 0;
}
.project-title {
  text-align: center;
  font-size: 1.4rem;
  bottom: -7rem;
  padding: 1.5rem 0;
  width: 100%;
  color: var(--main-white);
  background: var(--main-gray);
  justify-items: center;
}
.code {
  text-align: center;
  font-size: 1.8rem;
  padding: 0 0.8rem;
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}
.project-title:hover .code {
  color: #ff7f50;
}
.btn {
  display: inline-block;
  padding: 1.4rem 2rem;
  font-size: 1.8rem;
  border-radius: 2px;
}
.btn-show-all {
  margin-top: 6rem;
  background: var(--main-gray);
  text-decoration: none;
  color: var(--main-white);
  transition: background 0.3s ease-out;
}
.btn-show-all:hover {
  background: var(--main-red);
}
.btn-show-all:hover > i {
  transform: translateX(2px);
}
.btn-icon {
  margin-left: 1.2rem;
}
/* Contact section */
#contact {
  background: var(--main-gray);
  height: 88vh;
  max-height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 22rem;
  padding-bottom: 20rem;
}
.contact-section-header p {
  font-style: italic;
  padding: 2rem 0;
}
.contact-details {
  text-decoration: none;
  color: var(--main-white);
  font-size: 2.6rem;
  transition: transform ease 0.5s;
}
.contact-details:hover {
  transform: translateY(9px);
}
#footer {
  display: flex;
  justify-content: space-between;
  background: var(--main-gray);
  height: 100%;
  max-height: 100vh;
  color: var(--main-white);
  font-weight: 300;
  padding: 4rem 14rem;
  border-top: 4px solid var(--main-red);
}
#footer p a {
  text-decoration: none;
  color: var(--main-white);
  font-weight: 300;
}
/* Media query */
@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 980px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .projects-grid {
    flex-direction: column;
    margin: 0;
    padding: 0 4rem;
  }
  .project-item {
    width: 100%;
    margin: 2rem 0;
  }
  .project-title {
    font-size: 1.8rem;
  }
  #footer {
    padding: 2rem;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 45%;
  }
  #navbar {
    justify-content: center;
  }
  .nav-list {
    padding-right: 0;
  }
  .welcome-section h1 {
    display: block;
    text-align: center;
    padding: 0 20px;
    align-items: center;
  }
  .projects-section-header {
    font-size: 3.6rem;
  }
  .projects-grid {
    flex-direction: column;
    margin: 0;
    padding: 0 2rem;
  }
  #projects .projects-grid:nth-child(3) {
    margin-top: 0;
  }
  .project-item {
    width: 100%;
    margin: 2rem 0;
  }
  .project-title {
    font-size: 1.8rem;
  }
  #footer {
    flex-direction: column;
    padding: 1rem;
  }
  .contact-section-header h1 {
    font-size: 3.6rem;
    padding-bottom: 1rem;
  }
  .contact-section-header p {
    margin: 0;
    padding: 2rem 0;
  }
  .contact-links {
    display: flex;
    flex-direction: column;
  }
  #footer p {
    padding: 1rem;
  }
}